body {
	min-width: 320px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;

	color: #323232;
	font-family: "Roboto", sans-serif;
	font-size: 19px;
	line-height: 24px;

	background-color: #f6f6f6;
}

.page-header {
	height: 100vh;
	margin: 0 auto;
	background-image: url(../img/ocean.jpg);
	background-repeat: repeat;
	color: #eeeeee;
}

.page-header__navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0 20px;
	background-color: transparent;
}

.page-header__navbar--active {
	height: 100vh;
	background-color: #000000;
}

.navbar__logo {
	margin: 0;
	padding: 14px;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
}

.navbar__menu-icon {
	cursor: pointer;
	width: 50px;
	height: 50px;
}

.menu-icon__bar {
	position: relative;
	width: 100%;
	height: 100%;
}

.menu-icon__bar-line {
	position: absolute;
	width: 50%;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #eeeeee;
	transition: .3s;
}

.menu-icon__bar-line::after,
.menu-icon__bar-line::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	background-color: #ffffff;
	transition: .3s;
}

.menu-icon__bar-line::after {
	top: -8px;
}

.menu-icon__bar-line::before {
	top: 8px;
}

.menu-icon__bar-line--active {
	background-color: transparent;
}

.menu-icon__bar-line--active::after {
	top: 0;
	transform: rotate(45deg);
}

.menu-icon__bar-line--active::before {
	top: 0;
	transform: rotate(-45deg);
}

.navbar__nav {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav__item {
	width: 100%;
	margin: 1.2em 0;
}

.nav__link {
	padding: 23px 10px;
	font: inherit;
	color: #eeeeee;
	text-decoration: none;
	text-transform: uppercase;
	transition: .12s ease-out;
}

.nav__link:hover {
	color: #c0c0c0;
}

.main__container {
	box-sizing: border-box;
	width: 320px;
	margin: 0 auto;
	padding: 20px 20px;
}

.examples__list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.examples__item {
	position: relative;
	margin-bottom: 20px;
	transition: .15s;
	box-shadow: 0 0 0 1px #e5e5e5
}

.examples__link {
	display: block;
	color: #003232;
	font-size: 30px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;

	transition: .15s;
}

.examples__hidden-area {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: transparent;
	
	transition: .15s;

	opacity: 0;
}

.hidden-area__block {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;

	transform: translateY(-50%);

	background-color: #c1c1c1bb;
}

.hidden-area__link {
	box-sizing: border-box;
	display: block;
	width: 70%;
	margin: 40px auto;
	padding: 10px;

	color: white;
	text-align: center;
	text-decoration: none;

	background-color: #454545;

	transition: .1s;
}

.hidden-area__link:hover {
	background-color: #393939;
	/*box-shadow: 0 7px 16px #424242;*/
	box-shadow: 0 0 0 1px #ffffff99,
				0 0 0 2px #00000099;
}

.hidden-area__link:active {
	background-color: #545454;
	box-shadow: 0 0 0 1px #ffffff99,
				0 0 0 2px #00000099;
}

.examples__image {
	display: block;
	max-width: 100%;
	height: auto;
}

.examples__item:hover,
.examples__item:focus {
	outline: none;
	box-shadow: 0 8px 20px #727272;
	transform: scale(1.05);
}

@media (min-width: 768px) {
	
	.main__container {
		width: 90%;
	}

	.examples__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.examples__item {
		width: 48%;
		margin-bottom: 30px;
	}

	.examples__hidden-area {
		display: block;
	}

	.examples__item:hover .examples__hidden-area,
	.examples__item:focus .examples__hidden-area {
		opacity: 1;
	}

}

@media (min-width: 1200px) {

	.examples__list {
		display: grid;
		grid-template-columns: repeat(3, minmax(340px, 360px));
		grid-template-rows: repeat(auto-fill, 1fr);
		grid-gap: 35px
	}

	.examples__item {
		margin: 0;
		width: 100%;
		height: auto;
	}

}