body {
	max-width: 900px;
	margin: 0 auto;
	padding: 0;
	color: #323232;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 24px;

	background-color: #f6f6f6;
}

.page__header {
	margin: 0 auto;
	padding: 50px 20px;
}

.main__container {
	margin: 0 auto;
	padding: 50px 20px;
}

.examples__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.examples__item {
}

.examples__link {
	display: block;
	color: #003232;
	font-size: 30px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .15s;
}

.examples__image {
	margin: 0;
	padding: 0;
	width: 270px;
	height: auto;
}

.examples__link:hover,
.examples__link:focus {
	outline: none;
	transform: scale(1.15);
	box-shadow: 0 8px 20px #727272;
	margin-bottom: -10px;
}